@font-face {
    font-family: font1;
    src: url(fonts/GraphikRegular.otf);
}

*{
    padding: 0;
    margin: 0;
    font-family: font1;
}


body{
    --color-brand-primary:#EC222D;
    --color-brand-secondary:#2DB6E8;
    --color-brand-tertiary:#F1F1F1;
    max-width: 100%;
    overflow-x: hidden

}
.header-first-row{
    display: flex;
    justify-content: space-between;
    background-color:var(--color-brand-tertiary);
    padding: 5px;
    font-size: 14px;
    
    border-bottom: 2px solid white;
}
.header-first-row-left{
    margin-left: 10px;
}
.header-first-row-left span{
    font-weight: 500;
}
.header-first-row-right{
    display: flex;
    margin-right: 5px;
}
.header-first-row-right div{
    display: flex;
    align-items: center;
}
.header-first-row-right div img{
    margin-right: 5px;
}
.arrow{
    margin-left: 3px;
}
.header-first-row-right div i{
    margin-left: 5px;
    margin-top: 5px;
}
.call-us{
    margin-right: 5px;
}
.header-second-row{
    justify-content: space-evenly;
    padding: 30px;
    background-color: var(--color-brand-tertiary);
    display: flex;
    align-items: center;
    font-family: 'Graphik';
    
}
.second-nav{
    display: flex;
    margin-left: 30px;
}
.second-nav ul{
    display: flex;
    align-items: center;
    text-align: center;
}
.second-nav ul li{
    list-style: none;
    display: flex;
}
.second-nav ul li a{
    text-decoration: none;
    display: block;
    margin-right: 20px;
    margin-left: 20px;
    color: #464648;
}
.second-nav ul li a .icon{
    
    align-items: center;
    text-align: center;
    display: block;
}
.second-nav ul li a .icon img{
    width: 25px;
    height: 25px;
}
.second-nav ul li button{
    display: flex;
    align-items: center;
    margin-left: 20px;
    padding: 10px;
    width: 170px;
    height: 48px;
}
.second-nav ul li button img{
    margin-right: 10px;
    margin-left: 10px;
}
.header-second-row div{
    display: flex;
    align-items: center;
}
.header-second-row .search-box{
    display: flex;
    background-color: white;
    justify-content: space-between;
    height: 48px;
    align-items: center;
    border-radius: 2px;
    margin-left: 30px;
    width: 635px;
}
.header-second-row .search-box input{
    border: none;
    padding: 10px;
    width: 620px;
    margin-left: 15px;
   
}
.header-second-row .search-box img{
    margin-right: 10px;
    padding: 0;
}
.header-second-row ul{
    display: flex;
}

nav{
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    
}
.nav-left{
    margin-left: 30px;
}
.nav-left ul{
    display: flex;
    align-items: center;
    list-style: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

.nav-left ul li a{
    text-decoration: none;
    margin-right: 30px;
    padding: 10px;
    color: #464648;
    font-weight: bold;
    display: flex;
    align-items: center;
    
}
.nav-left ul li a i{
    margin-left: 4px;
    margin-top: 5px;
}
.nav-left ul li div{
    display: flex;
}
.nav-right{
    display: flex;
    align-items: center;
}
.nav-right a{
    text-decoration: none;
    margin-right: 30px;
    color: #464648;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}
.footer-1st-row{
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #F1F1F1;
}
.footer-1st-row div{
    display: flex;
    align-items: center;
}
.footer-1st-row img{
    margin-right: 10px;
}
.footer-1st-row p{
    font-size: 14px;
    font-weight: 500;
    color: #57585A;
} 
.hun{
    margin-right: 10px;
    font-size: 20px;
    font-weight: bold;
}
.footer-2nd-row{
    display: flex;
    justify-content: space-evenly;
    background-color: #F1F1F1;
    padding-top: 30px;
    padding-bottom: 30px;
    align-items: center;
}
.footer-2nd-row-left{
    display: flex;
}
.footer-2nd-row-left h4{
    font-weight: 700px bold;
    margin-right: 10px;
    font-size: 16px;
    font-family: 'Graphik';
    color: #414B56;
}
.footer-2nd-row-left p{
   size: 14px;
   color: #414B56;
}
.footer-2nd-row-right input{
    width: 428px;
    height: 48px;
    border: 1px solid #F1F1F1;
    padding-left: 15px;
}
.footer-2nd-row-right button{
    height: 48px;
    width: 128px;
    color: white;
    background-color: #EC222D;
    border: none;
    size: 16px;
    font-weight: bold;
}
.footer-4nd-row{
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    padding-top: 22px;
    padding-bottom: 21px;
    padding-left: 150px;
    padding-right: 150px;
    color: white;
    font-size: 14px;
    font-weight: 400;
    
}
.footer-4nd-row-left{
    display: flex;
}
.footer-4nd-row-left a{
    text-decoration:  none;
    color: white;
    margin-right: 5px;
    margin-left: 5px;
}
.footer-4nd-row-left p{
    margin-left: 5px;
}
.footer-4nd-row-right img{
    background-color: white;
}

.footer-3rd-row{
    background-color: #464648;
}
.links-container{
    display: flex;
    align-items: center;
    margin-left: 100px;
}
.link-container{
    display: grid;
    margin-right: 90px;
    margin-top: 80px;
    margin-bottom: 80px;
}
.link-last{
    margin-bottom: 155px;
}
.link-container h5{
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}
.link-container a{
    text-decoration: none;
    color: white;
    padding-top: 10px;
    font-size: 13px;
}
.footer-rlb{
    text-align: center;
    width: 380px;
    height: 134px;
    margin-right: 80px;
    color: white;

}
.footer-rlb img{
    margin-bottom: 15px;
}
.footer-rlb p{
    margin-top: 5px;
    margin-bottom: 5px;
}
.phone-email-footer{
    display: flex;
    align-items: center;
    margin-left: 35px;
    font-size: 14px;
    
}

.phone-email-footer img{
    padding-top:15px;
}
.pe-left{
    display: flex;
    align-items: center;
    margin-right: 25px;
    color: white;
}

.pe-right{
    display: flex;
    align-items: center;
    color: white;
}

.phone-email-footer p{
    padding-left: 5px;
}
.first-section{
    display: flex;
    height: 300px;
}
.first-section-left{
    width: 60%;
}
.first-section-left{
    margin-left: 70px;
    margin-top: 100px;
    width:40%;
    margin-right: 100px;
}
.p-small{
    color: #57585A;
    font-size: 10px; 
}
.first-section-left h3{
    padding-top: 20px;
    padding-bottom: 15px;
    font-size: 28px;
    font-weight: bold;
    color: #464648
}
.first-section-left h6{
    color: #57585A;
    font-size: 14px;
}
.first-section-right{
    margin-top: 60px;
    margin-right: 80px;
}
.first-section-right h5{
    font-size: 16px;
    color: #464648;
}
.sub-left{
    display: flex;
}
.sub-right {
    display: flex;
}
.product{
    display: flex;
    align-items: center;
    background-color: #F1F1F1;
    margin-top: 10px;
    height: 76px;
    width: 260px;
    padding-left: 20px;
}
.product img{
    background-color: transparent;
    padding-right: 10px
}
.product1{
   margin-right: 10px;
}
.product div h6{
    color: #414B56;
    font-size: 14px;
}
.product div p{
    font-size: 13px;
    color: #414B56;
    padding-top: 5px;
    font-weight: 200;
}
.second-section{
    background-color: #F1F1F1;
}
.filters-container{
    background-color: white;
    width: 250px;
    border: 1px solid gainsboro;
}
.second-section{
    display: flex;
}
.second-section-left{
    margin-left: 80px;
    padding-top: 40px;
}
.second-section-left h5{
    padding-bottom: 10px;
}
.cost-prices{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.btn1{
    width: 120px;
    height: 30px;
    background-color: #333333;
    color: white;
    border: none;
    font-size: 12px;
    font-weight: 100;
}
.btn2{
    width: 125px;
    height: 30px;
    background-color: white;
    border: 1px solid gray;
    color:#57585A;
}
.filter-container{
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid gainsboro;
}
.drop{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}
.drop p{
    font-size: 12px;
    color: #57585A;
}
.checkbox{
    
    display: flex;
    align-items: center;
    font-size: 11px;
    color: #464648;
}
.check-wh{
    width: 20px;
    height: 40px;
}
.checkbox input{
    margin-right: 10px;
}
.filter-container a{
    color: #57585A;
    font-size: 12px;
    padding-left: 30px;
    font-weight: bold;
}
.drop-last{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    font-size: 12px;
    color: #57585A;
}
.second-section-right{
    margin-left: 120px;
    margin-top: 55px;
    width:70%;
}
.ss-1{
    display: flex;
    justify-content: space-between;
    margin-right: 137px;
    align-items: center;
    margin-bottom: 20px;
}
.items-container{
    margin-bottom: 20px;
    display: flex;
    
}
.item-container{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    width: 300px;
    margin-right: 10px;
    border: 1px solid;
}
.off-today{
    justify-content: space-between;
    font-size: 12px;
    margin-right: 15px;
    display: flex;
    padding-top: 20px;
}
.off-today p{
    margin-left: 30px;
    background-color: yellow;
    height: 20px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
}
.top-part{
    border-bottom: 1px solid gray;
}
.top-part img{
    margin-left: 55px;
}
.top-part h4{
    font-size: 12px;
    margin-bottom: 5px;
    margin-left: 15px;
    color: #EC222D;
}
.top-part h3{
    font-size: 16px;
    margin-left: 15px;
    margin-bottom: 15px;
}
.bot-part{
    margin-top: 10px;
}
.bot-part p{
    font-size: 12px;
}
.bot-part div{
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
    padding: 5px;
}
.bundle{
    border: 1px solid gainsboro;
    width: 128px;
    padding: 20px;
    align-items: center;
}
.bundle img{
    width: 15px;
}
.quantity{
    justify-content: space-evenly;
    width: 128px;
    align-items: center;
    border: 1px solid gainsboro;
}
.bot-part button{
    background-color: #EC222D;
    border: none;
    color: white;
    font-weight: bold;
    align-items: center;
    display: flex;
    margin-left: 15px;
    width: 266px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 2px;
}
.bot-part button p{
    font-size: 15px;
}
.bot-part button img{
    margin-left: 60px;
    margin-right: 5px;
}
.save-item{
    margin-bottom: 10px;
    align-items: center;
}
.save-item a{
    color: gray;
}
.rectangle{
    margin-left: 5px;
}
.item-container button:hover{
    background-color: white;
    color: #EC222D;
    border: 1px solid #EC222D;
}
.ad-container{
    background-color: grey;
    color: #57585A;
    text-align: center;
    padding-top: 250px;

}
.ad-container h1{
    padding-bottom:15px;
}
.sort button{
    width: 128px;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 10px;
    color: #57585A;
}
.ss-1 h6{
    font-size: 12px;
    color: #57585A;
}
.last-container{
    border-bottom: 1px solid gainsboro;
    padding-bottom: 40px;
    width: 930px;
}
.pages{
    display: flex;
    justify-content: space-between;
    margin-right: 130px;
    border-bottom: 1px solid gainsboro;
    align-items: center;
    padding-bottom: 15px;
}
.pages-right{
    display: flex;
    align-items: center;
    border: 1px solid gray;
    
}
.page{
    padding: 10px;
    width: 20px;
    height: 20px;
    text-align: center;
    color: #57585A;
}
.page-1{
    border: 1px solid gray;
    background-color: #F1F1F1;
}
.page-2,.page-3{
    background-color: white;
    border: 1px solid gainsboro;
}
.page-4{
    background-color: #333333;
    height: 22px;
}
.page-4 img{
    width: 20px;
}
.pages-left p{
    font-size: 12px;
    color: #57585A;
}
.explore-row{
    display: flex;
}
.products{
    display: flex;
    align-items: center;
    background-color: white;
    margin-top: 10px;
    height: 76px;
    width: 225px;
    padding-left: 20px;
}
.products img{
    background-color: transparent;
    padding-right: 10px
}
.product1{
   margin-right: 10px;
}
.products div h6{
    color: #414B56;
    font-size: 14px;
}
.products div p{
    font-size: 13px;
    color: #414B56;
    padding-top: 5px;
    font-weight: 200;
}
.explore{
    padding-bottom: 30px;
    padding-top: 40px;
    margin-right: 100px;
}
.exp-2{
    padding-bottom: 30px;
}
.explore h5{
    font-size: 14px;
    padding-bottom: 10px;
}
.explore p{
    font-size: 13px;
    color: #57585A;
}